<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Players</th>
      <th>Pro Team</th>
      <th>Position</th>
      <th>JBR</th>
      <th>G</th>
      <th>A</th>
      <th>Points</th>
      <th>PPP</th>
      <th>+/-</th>
      <th>PIMS</th>
      <th>SOG</th>
      <th>HITS</th>
      <th>BLKS</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player_passport| %>
    <% next if player_passport.player.positions.join("/").include?("G") %>
      <tr>
        <td><%= player_passport.player.name %></td>
        <td><%= player_passport.player.pro_team.upcase %></td>
        <td><%= player_passport.player.positions.join("/") %></td>
        <td>150</td>
        <td><%= player_passport.player.player_prediction.g %></td>
        <td><%= player_passport.player.player_prediction.a %></td>
        <td><%= player_passport.player.player_prediction.p %></td>
        <td><%= player_passport.player.player_prediction.ppp %></td>
        <td><%= player_passport.player.player_prediction.plusminus %></td>
        <td><%= player_passport.player.player_prediction.pim %></td>
        <td><%= player_passport.player.player_prediction.sog %></td>
        <td><%= player_passport.player.player_prediction.hit %></td>
        <td><%= player_passport.player.player_prediction.blk %></td>
      </tr>
    <% end %>
  </tbody>
</table>