<table class="table table-bordered table-striped table-hover table-responsive table-players"
  id="user-team"
  data-toggle="table"
  data-search="true">
  <thead>
    <tr>
      <th data-field="name">Players</th>
      <th data-field="pro_team">Pro Team</th>
      <th data-sortable="true" data-field="pos">Position</th>
      <th data-sortable="true" data-field="jbr">JBR</th>
      <th data-sortable="true" data-field="g">G</th>
      <th data-sortable="true" data-field="a">A</th>
      <th data-sortable="true" data-field="p">Points</th>
      <th data-sortable="true" data-field="ppp">PPP</th>
      <th data-sortable="true" data-field="plusminus">+/-</th>
      <th data-sortable="true" data-field="pim">PIMS</th>
      <th data-sortable="true" data-field="sog">SOG</th>
      <th data-sortable="true" data-field="fw">FOW</th>
      <th data-sortable="true" data-field="hit">HITS</th>
      <th data-sortable="true" data-field="blk">BLKS</th>
    </tr>
  </thead>
  <tbody>
    <% @player_passports.each do |player_passport| %>
    <% next if player_passport.player.positions.join(" / ").include?("G") %>
      <tr>
        <td><%= player_passport.player.name %></td>
        <td><%= player_passport.player.pro_team.upcase %></td>
        <td><%= player_passport.player.positions.join(" / ") %></td>
        <td><%= jbr_by_cat(1, player_passport.player.player_id, :jbr)[player_passport.player.player_id] %> </td>
        <td><%= player_passport.player.player_prediction.g %></td>
        <td><%= player_passport.player.player_prediction.a %></td>
        <td><%= player_passport.player.player_prediction.p %></td>
        <td><%= player_passport.player.player_prediction.ppp %></td>
        <td><%= player_passport.player.player_prediction.plusminus %></td>
        <td><%= player_passport.player.player_prediction.pim %></td>
        <td><%= player_passport.player.player_prediction.sog %></td>
        <td><%= player_passport.player.player_prediction.fw %></td>
        <td><%= player_passport.player.player_prediction.hit %></td>
        <td><%= player_passport.player.player_prediction.blk %></td>
      </tr>
    <% end %>
  </tbody>
</table>
