<table class="table table-bordered table-striped table-hover table-responsive table-players ">
  <thead>
    <h3>Team Needs</h3>
    <tr>
      <th>#</th>
      <th>Best FA Available</th>
      <th>Position</th>
      <th>Y! R</th>
      <th>JBR</th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% @freeagents.first(5).each do |player_passport| %>
    <% next if player_passport.player.positions.join(" / ").include?("G") %>
      <tr>
        <td> <%= count += 1 %> </td>
        <td> <%= player_passport.player.name %> </td>
        <td> <%= player_passport.player.positions.join(" / ") %> </td>
        <td> <%= player_passport.player.player_prediction.g %> </td>
        <td> <%= player_passport.player.player_prediction.a %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.g %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.a %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.p %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.ppp %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.plusminus %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.pim %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.sog %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.fw %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.hit %> </td>
        <td class="hidden"> <%= player_passport.player.player_prediction.blk %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
