<div class="container-fluid topfix container-space">
  <div class="row">
    <div class="col-md-1">
      <%= image_tag "#{@team.image}" , :class => 'teamlogo' %>
    </div>
      <div class="col-md-4">
        <h3>Team Needs</h3>
        <h1><%= @team.name %></h1>
        <%= render 'team_needs_table' %>
      </div>
      <div class="col-md-7">
        <div id="spider_graph" class="col-md-6 graph" style="width:100%; height:500px;">
          If You See This The Graph Had An Error
        </div>
      </div>
    </div>
  </div>
<!--Team Info -->
<div class="container-fluid container-space">
  <div class="row">
    <div class="col-md-6">
      <h1><%= @team.name %> Roster</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <%= render 'team_info' %>
     </div>
   </div>
<div class="row">
    <div class="col-md-12">
      <%= render 'goalies' %>
    </div>
  </div>
</div>
