<container class="container-space-no-bottom">
  <div class="row">
    <div class="col-md-1">
      <img src="<%= @team.image %>" class="teamlogo">
    </div>
    <div class="col-md-4">
      <h1 class="teamname"><%= @team.name %></h1>
    </div>
  </div>
</container>
<container class="container-space">
  <div class="row container-space">
    <div class="col-md-5">
      <td><%= render 'team_needs_table' %></td>
    </div>
  </div>
</div>
</container>
 <div class="container-fluid container-space">
    <div class="row">
      <div class="col-md-12">
         <%= render 'team_info' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render 'goalies' %>
      </div>
    </div>
  </div>
</div>