<table class="table table-bordered table-striped table-responsive table-players "
      data-toggle="table"
      id="leaguesTable"
>
  <thead>
    <tr>
      <th class="col-md-1">Rank</th>
      <th data-field="team_name">Team Name</th>
      <th data-field="jbr">JBR</th>
    </tr>
  </thead>
  <tbody class="jbr_scores">
    <% count = 0 %>
    <% jbr_team = [] %>

    <% @teams.each do |team| %>
    <% next if team.name.include?("Waiver") %>
    <% jbr = jbr_by_team(team.id, :jbr) %>
    <% name = team.name %>
    <% jbr_team.push([name, jbr]) %>
    <% end %>

    <% jbr_team = jbr_team.sort_by {|k, v| v}.reverse.to_h %>
    <% jbr_for_graph = jbr_team.to_a %>
    <tr>
      <% jbr_team.each do |team| %>
      <td><%= count += 1  %></td>
      <td><%= link_to "#{team[0]}", user_league_team_path(@current_user, @league_id, @teams.where(name: team[0]).pluck("id")) %></td>
      <td> <%= team[1] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  var PageData = {
      user_id: <%= params[:user_id].to_i %>,
      league_id: <%= params[:id].to_i %>
    };

  function getLeagueChartData () {
      return [
          <% jbr_for_graph.each do |team| %>
            {name: "<%= team[0] %>",jbr: <%= team[1] %>},
          <% end %>
      ];
  }
</script>
