<script>
var leagueJBRs = []
var leagueTeams = [];

var JbrLeagueRankData = getLeagueChartData();

for (var i = 0; i < JbrLeagueRankData.length; i++) {
      var obj = JbrLeagueRankData[i];
      var team_name = obj[Object.keys(obj)[0]];
      var team_jbr = obj[Object.keys(obj)[1]];
      leagueTeams.push(team_name);
      leagueJBRs.push(team_jbr);
  }

$(function(){
  $('#rank_column-top').highcharts({
      chart: {
          type: 'column',
          options3d: {
              enabled: true,
              alpha: 15,
              beta: 15,
              depth: 50,
              viewDistance: 25
          }
      },
      title: {
          text: 'Category Leaderboard'
      },
      subtitle: {
          text: 'Category: Total Overall'
      },
      plotOptions: {
          column: {
              depth: 25
          }
      },
      xAxis: {
          categories: leagueTeams
      },
      series: [{
        name: 'League Ranks By JBR',
        data: leagueJBRs
      }]
  });
});

function getLeagueChartData () {
    return [
        <% @teams.each do |team| %>
        <% next if team.name.include?("Waiver") %>
          {name:"<%= team.name %>",jbr:<%= jbr_by_team(team.id, :jbr) %>},
        <% end %>
    ];
}
</script>

 <table class="table table-bordered table-striped table-responsive table-players "
        id="leaguesTable"
        data-toggle="table">
  <thead>
    <tr>
      <th class="col-md-1">Rank</th>
      <th data-field="team_name">Team Name</th>
      <th data-field="jbr">JBR</th>
    </tr>
  </thead>
  <tbody class="jbr_scores">
    <% count = 0 %>
    <% jbr_team = [] %>
    <% @teams.each do |team| %>
    <% next if team.name.include?("Waiver") %>
    <% jbr = jbr_by_team(team.id, :jbr) %>
    <% name = team.name %>
    <% jbr_team.push([name, jbr]) %>
    <% end %>
    <% jbr_team = jbr_team.sort_by {|k, v| v}.reverse.to_h %>
    <tr>
      <% jbr_team.each do |team| %>
      <td><%= count += 1  %></td>
      <td><%= link_to "#{team[0]}", user_league_team_path(@current_user, @league_id, @teams.where(name: team[0]).pluck("id")) %></td>
      <td> <%= team[1] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
