<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Name</th>
      <th>JBR</th>
      <th>Pro Team</th>
      <th>Position</th>
      <th>G</th>
      <th>A</th>
      <th>Points</th>
      <th>PPP</th>
      <th>+/-</th>
      <th>PIMS</th>
      <th>SOG</th>
      <th>HITS</th>
      <th>BLKS</th>
    </tr>
  </thead>
  <tbody>
    <% top_five = jbr_by_cat(1, Player.where(type_p: "P").pluck(:player_id), :jbr).keys.first(5) %>
    <% top_five.each do |id| %>
    <% @player_passports.where(player_id: id).each do |player_passport| %>
    <% next if player_passport.player.positions.join(" / ").include?("G") %>
      <tr>
        <td> <%= player_passport.player.name %> </td>
        <td> <%= jbr_by_cat(1, player_passport.player.player_id, :jbr)[player_passport.player.player_id] %></td>
        <td> <%= player_passport.player.pro_team.upcase %></td>
        <td> <%= player_passport.player.positions.join(" / ") %> </td>
        <td> <%= player_passport.player.player_prediction.g %> </td>
        <td> <%= player_passport.player.player_prediction.a %> </td>
        <td> <%= player_passport.player.player_prediction.p %> </td>
        <td> <%= player_passport.player.player_prediction.ppp %> </td>
        <td> <%= player_passport.player.player_prediction.plusminus %> </td>
        <td> <%= player_passport.player.player_prediction.pim %> </td>
        <td> <%= player_passport.player.player_prediction.sog %> </td>
        <td> <%= player_passport.player.player_prediction.hit %> </td>
        <td> <%= player_passport.player.player_prediction.blk %> </td>
      </tr>
    <% end %>
    <% end %>
    </tbody>
</table>
