<h1><%= tableHeader %></h1>
<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Position</th>
      <th>JBR</th>
      <% PlayerCategory.find_by(league_id: params[:league_id]).attributes.each do |stat| %>
      <% next unless stat[1] == true %>
      <% stat[0] = "+/-" if stat[0] == "plusminus" %>
      <% stat[0] = "SH%" if stat[0] == "shpercent" %>
      <th><%= stat[0].upcase %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="selected-players" id="<%=idPlayer%>">
  <!-- Render Skater Selections -->
  </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <% GoalieCategory.find_by(league_id: params[:league_id]).attributes.each do |stat| %>
      <% next unless stat[1] == true %>
      <% stat[0] = "SV%" if stat[0] == "svpercent" %>
      <th><%= stat[0].upcase %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="selected-goalies" id="<%=idGoalie%>">
  <!-- Render Goalie Selections -->
  </tbody>
</table>
