  <%= render partial: "fixed_header_columns", locals: {tableType: "userTable" } %>
      <% PlayerCategory.find_by(league_id: params[:league_id]).attributes.each do |stat| %>
      <% next unless stat[1] == true %>
      <th class = "hidden" data-field="<%=stat[0]%>" data-sortable="true">
      <% stat[0] = "+/-" if stat[0] == "plusminus" %>
      <% stat[0] = "SH%" if stat[0] == "shpercent" %>
      <%= stat[0].upcase %> </th>
      <% end %>
        </tr>

  </thead>
  <tbody id="each-user-player">
    <% @current_user_players.each do |player_passport| %>
    <% next if player_passport.player.positions.join(" / ").include?("G") %>
      <tr>
        <td></td>
        <td class="user-team-players "> <%= player_passport.player.name %> </td>
        <td class="user-team-players"> <%= player_passport.player.pro_team.upcase %></td>
        <td class="user-team-players"> <%= player_passport.player.positions.join(" / ") %> </td>
        <td class="user-team-players jbr-stat"> <%= jbr_by_cat(1, player_passport.player.player_id, :jbr)[player_passport.player.player_id] %> </td>

        <% PlayerCategory.find_by(league_id: params[:league_id]).attributes.each do |stat| %>
        <% next unless stat[1] == true %>
        <td class = "hidden user-team-players <%=stat[0]%>"> <%= player_passport.player.player_prediction.send(stat[0]) %> </td>
        <% end %>
        </tr>
        <% end %>
    </tbody>
  </table>
     <%= render partial: "fixed_header_columns", locals: { tableType: "userGoalieTable" } %>
     <% GoalieCategory.find_by(league_id: params[:league_id]).attributes.each do |stat| %>
        <% next unless stat[1] == true %>
        <th class = "hidden" data-field = "<%=stat[0]%>"" data-sortable="true"> <% stat[0] = "SV%" if stat[0] == "svpercent" %>
        <%= stat[0].upcase %> </th>
        <% end %>
        </tr>
    </thead>
      <tbody>
          <% @current_user_players.each do |player_passport| %>
          <% next if player_passport.player.positions.join("/").exclude?("G") %>
        <tr>
          <td></td>
          <td class="user-team-goalies"><%= player_passport.player.name %></td>
          <td class="user-team-goalies"><%= player_passport.player.pro_team.upcase %></td>
          <td class="user-team-goalies"><%= player_passport.player.player_prediction.gs %></td>
          <td class="user-team-goalies"><%= jbr_by_cat(0, player_passport.player.player_id, :jbr)[player_passport.player.player_id] %> </td>
          <% GoalieCategory.find_by(league_id: params[:league_id]).attributes.each do |stat| %>
          <% next unless stat[1] == true %>
          <td class = "hidden user-team-goalies #{stat[0]}"> <%= player_passport.player.player_prediction.send(stat[0]) %> </td>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
