<script>
  var PageData = {
    league_id: <%= params[:league_id].to_i %>,
    user_id: <%= params[:user_id].to_i %>
  };
</script>
<div class="row container-fluid topfix container-space">
<!-- -->
  <div class="trading-teams">
    <div class="col-md-6">
      <h1><%= @user_team_name %></h1>
      <%= render 'user_team' %>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h1>Trading Team</h1>
      </div>

      <div class="col-md-3">
        <%= render 'team_selector' %>
      </div>

      <div class="col-md-6">
        <div class="render_trade_table" id="otherTeamTable">
        <!-- RENDER THE AJAX TABLE HERE -->
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-default btn-lg goaliebtn" id="add-to-trade"> Select Players For Trade </button>

  <!-- -->
  <div class="row container-fluid topfix container-space">
    <div class="col-md-12">
    <!-- Players to be traded table -->
    <%= render 'players_to_be_traded' %>
    </div>
  </div>
  <div class="row container-fluid topfix container-space">
    <div class="col-md-12">
      <h1>Team Stat Impact</h1>
      <%= render 'team_stat_impact' %>
    </div>
  </div>
  <div class="col-md-12 graph" id="neg-value-column_top" style="width:100%; height:400px;">HI</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
