


<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th><%= sortable "name" %></th> <% end %>
      <th><%= sortable "pro_team", "Pro Team" %></th> <% end %>
      <th><%= sortable "position" %></th> <% end %>
      <% if @players[0].league.player_category.g == true %> <th><%= sortable "g" %></th> <% end %>
      <% if @players[0].league.player_category.a == true %> <th><%= sortable "a" %></th> <% end %>
      <% if @players[0].league.player_category.p == true %> <th><%= sortable "points" %></th> <% end %>
      <% if @players[0].league.player_category.ppp == true %> <th><%= sortable "ppp" %></th> <% end %>
      <% if @players[0].league.player_category.plusmins == true %> <th><%= sortable "plusminus", "+/-" %></th> <% end %>
      <% if @players[0].league.player_category.pim == true %> <th><%= sortable "pims" %></th> <% end %>
      <% if @players[0].league.player_category.sog == true %> <th><%= sortable "sog" %></th> <% end %>
      <% if @players[0].league.player_category.hit == true %> <th><%= sortable "hits" %></th> <% end %>
      <% if @players[0].league.player_category.blk == true %> <th><%= sortable "blks" %></th> <% end %>
      <% if  == true %> <th><%= sortable "jbr" %></th> <% end %>
    </tr>
  </thead>
  <tbody>
    <% @players.first(50).each do |player_passport| %>
    <% next if player_passport.player.positions.join("/").include?("G") %>
      <tr>
        <td> <%= player_passport.player.name %> </td>
        <td> <%= player_passport.player.pro_team.upcase %></td>
        <td> <%= player_passport.player.positions.join("/") %> </td>
        <% if player_passport.league.player_category.g == true %> <td> <%= player_passport.player.player_prediction.g %> </td>
        <% if player_passport.league.player_category.a == true %> <td> <%= player_passport.player.player_prediction.a %> </td>
        <% if player_passport.league.player_category.p == true %> <td> <%= player_passport.player.player_prediction.p %> </td>
        <% if player_passport.league.player_category.ppp == true %> <td> <%= player_passport.player.player_prediction.ppp %> </td>
        <% if player_passport.league.player_category.plusminus == true %> <td> <%= player_passport.player.player_prediction.plusminus %> </td>
        <% if player_passport.league.player_category.pim == true %> <td> <%= player_passport.player.player_prediction.pim %> </td>
        <% if player_passport.league.player_category.sog == true %> <td> <%= player_passport.player.player_prediction.sog %> </td>
        <% if player_passport.league.player_category.hit == true %> <td> <%= player_passport.player.player_prediction.hit %> </td>
        <% if player_passport.league.player_category.blk == true %> <td> <%= player_passport.player.player_prediction.blk %> </td> <% end %>
        <td> 999 </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th><%= sortable "name" %></th>
        <th><%= sortable "team" %></th>
        <th><%= sortable "wins" %></th>
        <th><%= sortable "loses" %></th>
        <th><%= sortable "gaa" %></th>
        <th><%= sortable "sv %" %></th>
        <th><%= sortable "shutouts" %></th>
        <th><%= sortable "saves" %></th>
        <th><%= sortable "jbr" %></th>
      </tr>
    </thead>
    <tbody>
      <% @players.first(50).each do |player_passport| %>
      <% next if player_passport.player.positions.join("/").exclude?("G") %>
        <tr>
          <td><%= player_passport.player.name %></td>
          <td><%= player_passport.player.pro_team.upcase %></td>
          <td><%= player_passport.player.player_prediction.w %></td>
          <td><%= player_passport.player.player_prediction.l %></td>
          <td><%= player_passport.player.player_prediction.gaa %></td>
          <td><%= player_passport.player.player_prediction.svpercent %></td>
          <td><%= player_passport.player.player_prediction.sho %></td>
          <td><%= player_passport.player.player_prediction.sv %></td>
          <td>jbr</td>
        </tr>
      <% end %>
    </tbody>
</table>