<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "pro_team", "Pro Team" %></th>
      <th><%= sortable "position" %></th>
      <% if @player_passports[0].league.player_category.g == true %> <th><%= sortable "g" %></th> <% end %>
      <% if @player_passports[0].league.player_category.a == true %> <th><%= sortable "a" %></th> <% end %>
      <% if @player_passports[0].league.player_category.p == true %> <th><%= sortable "points" %></th> <% end %>
      <% if @player_passports[0].league.player_category.ppg == true %> <th><%= sortable "ppg" %></th> <% end %>
      <% if @player_passports[0].league.player_category.ppa == true %> <th><%= sortable "ppa" %></th> <% end %>
      <% if @player_passports[0].league.player_category.ppp == true %> <th><%= sortable "ppp" %></th> <% end %>
      <% if @player_passports[0].league.player_category.plusminus == true %> <th><%= sortable "plusminus", "+/-" %></th> <% end %>
      <% if @player_passports[0].league.player_category.shg == true %> <th><%= sortable "shg" %></th> <% end %>
      <% if @player_passports[0].league.player_category.sha == true %> <th><%= sortable "sha" %></th> <% end %>
      <% if @player_passports[0].league.player_category.shp == true %> <th><%= sortable "shp" %></th> <% end %>
      <% if @player_passports[0].league.player_category.gwg == true %> <th><%= sortable "gwg" %></th> <% end %>
      <% if @player_passports[0].league.player_category.gtg == true %> <th><%= sortable "gtg" %></th> <% end %>
      <% if @player_passports[0].league.player_category.pim == true %> <th><%= sortable "pims" %></th> <% end %>
      <% if @player_passports[0].league.player_category.sog == true %> <th><%= sortable "sog" %></th> <% end %>
      <% if @player_passports[0].league.player_category.shpercent == true %> <th><%= sortable "shpercent" %></th> <% end %>
      <% if @player_passports[0].league.player_category.fw == true %> <th><%= sortable "fw" %></th> <% end %>
      <% if @player_passports[0].league.player_category.fl == true %> <th><%= sortable "fl" %></th> <% end %>
      <% if @player_passports[0].league.player_category.hit == true %> <th><%= sortable "hits" %></th> <% end %>
      <% if @player_passports[0].league.player_category.blk == true %> <th><%= sortable "blks" %></th> <% end %>
      <th><%= sortable "jbr" %></th>
    </tr>
  </thead>

  <tbody>
    <% @player_passports.first(50).each do |player_passport| %>
    <% next if player_passport.player.positions.join("/").include?("G") %>
    <% playerID = player_passport.id %>
      <tr>
        <td class="player_name" id=<%= "#{playerID}" %> > <%= player_passport.player.name %> </td>
        <td> <%= player_passport.player.pro_team.upcase %></td>
        <td> <%= player_passport.player.positions.join("/") %> </td>
        <% if player_passport.league.player_category.g == true %> <td> <%= player_passport.player.player_prediction.g %> </td> <% end %>
        <% if player_passport.league.player_category.a == true %> <td> <%= player_passport.player.player_prediction.a %> </td> <% end %>
        <% if player_passport.league.player_category.p == true %> <td> <%= player_passport.player.player_prediction.p %> </td> <% end %>
        <% if player_passport.league.player_category.ppg == true %> <td> <%= player_passport.player.player_prediction.ppg %> </td> <% end %>
        <% if player_passport.league.player_category.ppa == true %> <td> <%= player_passport.player.player_prediction.ppa %> </td> <% end %>
        <% if player_passport.league.player_category.ppp == true %> <td> <%= player_passport.player.player_prediction.ppp %> </td> <% end %>
        <% if player_passport.league.player_category.plusminus == true %> <td> <%= player_passport.player.player_prediction.plusminus %> </td> <% end %>
        <% if player_passport.league.player_category.shg == true %> <td> <%= player_passport.player.player_prediction.shg %> </td> <% end %>
        <% if player_passport.league.player_category.sha == true %> <td> <%= player_passport.player.player_prediction.sha %> </td> <% end %>
        <% if player_passport.league.player_category.shp == true %> <td> <%= player_passport.player.player_prediction.shp %> </td> <% end %>
        <% if player_passport.league.player_category.gwg == true %> <td> <%= player_passport.player.player_prediction.gwg %> </td> <% end %>
        <% if player_passport.league.player_category.gtg == true %> <td> <%= player_passport.player.player_prediction.gtg %> </td> <% end %>
        <% if player_passport.league.player_category.pim == true %> <td> <%= player_passport.player.player_prediction.pim %> </td> <% end %>
        <% if player_passport.league.player_category.sog == true %> <td> <%= player_passport.player.player_prediction.sog %> </td> <% end %>
        <% if player_passport.league.player_category.shpercent == true %> <td> <%= player_passport.player.player_prediction.shpercent %> </td> <% end %>
        <% if player_passport.league.player_category.fw == true %> <td> <%= player_passport.player.player_prediction.fw %> </td> <% end %>
        <% if player_passport.league.player_category.fl == true %> <td> <%= player_passport.player.player_prediction.fl %> </td> <% end %>
        <% if player_passport.league.player_category.hit == true %> <td> <%= player_passport.player.player_prediction.hit %> </td> <% end %>
        <% if player_passport.league.player_category.blk == true %> <td> <%= player_passport.player.player_prediction.blk %> </td> <% end %>
        <td> 999 </td>
      </tr>
    <% end %>
  </tbody>
</table>