<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      <%= image_tag "JockLogoTiny.png", :id => 'tinylogo' %>
      </a>
    <a class="navbar-brand" href="/">JockBuff</a>
    </div>
    <div class="collapse navbar-collapse">
      <% if logged_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Leagues', :leagues %></li>
        <li><%= link_to 'Player Ranks', :players %></li>
        <li><%= link_to 'Trade Calculator', :compares %></li>
        <li><%= link_to 'Statistical Analysis', :analysis_index %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="usernav">
          <li><%= link_to "Log out #{current_user.name}", :signout, :method => :delete %>
          </li>
          <%= image_tag "#{current_user.image}", :id => 'nav-useravatar' %>
      <% else %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="usernav">
          <li><%= link_to 'Log in to Yahoo Fantasy Sports', :signin %>
          </li>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>